<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alexandramolina.cely">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AyudaActivity" />
        <activity android:name=".RegistrarseActivity" />
        <activity android:name=".Translation" />
        <activity android:name=".UsuarioActivity" />
        <activity android:name=".NoticiasActivity" />
        <activity android:name=".TraductorActivity" />
        <activity android:name=".NoticiaTraducidaActivity" />
        <activity android:name=".PrincipalActivity" />
        <activity android:name=".ArchivosActivity" />
        <activity android:name=".BuscarNoticiaActivity" />
        <activity android:name=".GPSActivity"></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="81975c728b100897ff6d10db9500bb23e8f6beb9" />
    </application>

</manifest>